<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esen.dqy.dao.OfficerInfoDao">
	<resultMap type="com.esen.dqy.entity.OfficerInfo" id="OfficerMapper">
		<result column="id_" property="id"/>
		<result column="username_" property="username"/>
		<result column="province_" property="province"/>
		<result column="city_" property="city"/>
		<result column="taxdept_" property="taxdept"/>
		<result column="department_" property="department"/>
		<result column="tel_" property="tel"/>
		<result column="email_" property="email"/>
		<result column="filename_" property="filename"/>
	</resultMap>
	
	<select id="selectUser" parameterType="int" resultMap="OfficerMapper">
		SELECT * FROM info_officer t where t.id = #{id}
	</select>
	
	<insert id="addUser" parameterType="com.esen.dqy.entity.OfficerInfo">
        insert into info_officer(id_, username_, province_, city_, taxdept_, department_, tel_, email_, filename_)
        values(#{id},#{username},#{province},#{city},#{taxdept},#{department},#{tel},#{email}, #{filename})
    </insert>
</mapper>